.book-container {
    padding-right: 10px;
    padding-left: 10px;
}

.col{
    margin-bottom: 10px;
}

.card {
    border: none;
    border-radius: 0rem;
}

.card-body {
    padding: 0px;
}

.card-title {
    margin-bottom: -0.05rem;
}

.card-text {
    color: lightslategrey;
}