.book-container {
    padding-right: 10px!important;
    padding-left: 10px!important;
}

.col{
    margin-bottom: 10px!important;
}

.card {
    border: none!important;
    border-radius: 0rem!important;
}

.card-body {
    padding: 0px!important;
}

.card-title {
    margin-bottom: -0.05rem!important;
}

.card-text {
    color: lightslategrey!important;
}